{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="About Kerala Home | Trusted Home Construction Experts in Thrissur">
  <meta name="description" content="Learn more about Kerala Home, Thrissur’s trusted name in traditional and budget-friendly home construction. Discover our mission, values, and commitment to quality craftsmanship.">
  <meta name="keywords" content="Kerala Home Thrissur, about Kerala Home, construction company Thrissur, traditional home builders, budget-friendly home construction, mission and values of Kerala Home, trusted builders in Kerala, quality house construction Thrissur">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>About Kerala Home | Traditional Kerala Home Construction in Thrissur</title>

  <!-- Fav Icon -->
    <!-- Fav Icon -->
    <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/dtouoqusd/image/upload/v1747464443/logo_bbeh04.png">
    <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PHZHZJM');</script>
    <!-- End Google Tag Manager -->
    
  

  <!-- All CSS files -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/progressbar.css' %}">
  <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'css/basictable.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/master-interior-designer.css' %}">
  
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'../connect.facebook.net/en_US/fbevents.js');
fbq('init', '595349418827774');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=595349418827774&amp;ev=PageView&amp;noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->

<style>
  .AboutParallax{
    width: 70%;
    height: 700px;
    margin: auto;
  }
  .TraditionalHome{
    height: 600px;
    width: 100%;
  }
  .TraditionalHome img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .aboutbottomImg{
    width: 100%;
  }
  @media screen and (max-width : 768px) {
    .AboutParallax{
      width: 100%;
      height: 100%;
    }
  }
</style>

</head>



<body class="font-heading-glorifydemo">

  <!-- Body Ovelay -->
  <div class="body-overlay"></div>

  <!-- Preloader -->
  <!-- <div id="preloader">
    <div id="container" class="container-preloader">
      <div class="animation-preloader">
        <div class="spinner"></div>
        <div class="txt-loading">
          <span data-text="I" class="characters">I</span>
          <span data-text="N" class="characters">N</span>
          <span data-text="F" class="characters">F</span>
          <span data-text="O" class="characters">O</span>
        </div>
      </div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
  </div> -->



  <!-- Cursor Animation -->
  <div class="cursor1"></div>


  <!-- Sroll to top -->
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98">
        
      </path>
    </svg>
  </div>

<a href="tel:9846194508" style="z-index: 1;" target="_blank" class="call-float " >
        <i class="fa-solid fa-phone"></i>
      </a>
      <a href="https://wa.me/9846194508" style="z-index: 1;" target="_blank" class="whatsapp-float ">
        <i class="fab fa-whatsapp"></i>
      </a>



  <!-- Offcanves start -->
  <div class="offcanvas__area">
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasOne" style="background-color: #0A0913 !important;">
      <button class="offcanvas__close" data-bs-dismiss="offcanvas"><i class="fa-solid fa-xmark"></i></button>
      <div class="offcanvas__body">
        <div class="offcanvas__logo">
          <a href="#">
            <img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747557981/Artboard_2_namyqm.png" class="show-dark" alt="Offcanvas Logo">
            <img src="assets/logo%20B.png" class="show-light" alt="Offcanvas Logo">
          </a>
          <p>HAPPY LUXURY EXPERTS
            We would be delighted to help you to build your dream home</p>
        </div>

        <div class="offcanvas__menu-area">
          <div class="offcanvas__menu-wrapper"></div>
        </div>
        <div class="offcanvas__gallery">
          <p class="offcanvas__title">gallery</p>
          <div class="gallery__items">
            <div class="gallery__item">
              <a href="#"><img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747564972/pngegg_1_rukqyr.png" alt="gallery Image">
            </div>
            <div class="gallery__item">
              <a href="#"><img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747564972/pngegg_1_rukqyr.png" alt="gallery Image">
            </div>
            <div class="gallery__item">
              <a href="#"><img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747564972/pngegg_1_rukqyr.png" alt="gallery Image">
            </div>
            
            <div class="gallery__item">
              <a href="#"><img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747564972/pngegg_1_rukqyr.png" alt="gallery Image">
            </div>
            
            <div class="gallery__item">
              <a href="#"><img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747564972/pngegg_1_rukqyr.png" alt="gallery Image">
            </div>
          </div>
        </div>
        <div class="offcanvas__media">
          <p class="offcanvas__title">Follow</p>
          <ul>
            <li><a href="fb.com/iamkeralahome"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href="https://wa.me/9846194508"><i class="fa-brands fa-whatsapp"></i></a></li>
            <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href="https://www.instagram.com/kerala_home_viyyur"><i class="fa-brands fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Offcanves end -->


  <div class="has-smooth" id="has_smooth"></div>
  <div id="smooth-wrapper" >
    <div id="smooth-content">
      <div class="body-wrapper" style="background-color: #18230F !important;">

        <!-- overlay switcher close  -->
        <div class="overlay-switcher-close"></div>

       <!-- Header area start -->
      <header class="intDesigner-header pos-abs zi-9" style="background-color: #18230F;">
          <div class="intDesigner-header__inner">
            <div class="intDesigner-header__logo">
              <a href="{% url 'home' %}">
                <img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747580767/Artboard_2_copy_2_vcgy5w.png"  width="180px" alt="Site Logo">
              </a>
            </div>
            <div class="intDesigner-header__nav">
              <nav class="main-menu menu-light">
                <ul>
                  <li><a href="{% url 'home' %}">home</a></li>
                  <li><a href="{% url 'about' %}">about</a></li>
                  
                  <li >
                    <a href="{% url 'projects' %}">project</a>
                  </li>
                  <li><a href="{% url 'services' %}">Services</a></li>
                  <!-- <li><a href="{% url 'packages' %}">Packages</a></li>
                  <li><a href="{% url 'blog' %}">Blog</a></li> -->
                  <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
              </nav>
            </div>
            <div class="intDesigner-header__others">
              <div class="intDesigner-header__navicon">
                <button id="open_offcanvas" data-bs-toggle="offcanvas" data-bs-target="#offcanvasOne">
                  <img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747548577/bar-light_f98zfw.png" alt="menu bar"></button>
              </div>
            </div>
          </div>
        </header>
      <!-- Header area end -->

        <main>

          <!-- about inner area start  -->
          <section class="int-inab-area pt-150 pb-150" style="background-color:#18230F;">
            <div class="cf_image intDesigner-about__area-bg">
              <img src="https://res.cloudinary.com/ddvts796m/image/upload/v1749710210/Adobe_Express_-_file_2_s9qwql.png" style="opacity: .1;object-fit: contain;" alt="image">
            </div>
            <div class="container">
              <div class="intDesigner-about__area">
                <div class="container">
                  <div class="intDesigner-about__sec-title-wrapper text-start">
                    <h1 class="int-inab-sub-title mb-30 has_char_anim" style="color: #F3EEEA;">Behind The Build</h1>
                    <h2 class="int-inab-title has_char_anim" style="color: #F3EEEA;"><span style="color: #ffdfa9;">Rooted in Tradition,</span> Built for Generations
                    </h2>
                  <div class="intDesigner-about__area-inner p-0">
                    <div class="intDesigner-about__text-wrapper has_fade_anim">
                      <div class="cf_image intDesigner-about__thumb img_anim_reveal">
                        <img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747560921/Adobe_Express_-_file_1_j4s2nu.png" alt="image">
                      </div>
                    </div>
                    <div class="intDesigner-about__text-wrapper">
                      <!-- <h3 class="intDesigner-about__title has_text_reveal_anim">I am <br>
                        Manjunath</h3> -->
                      <div class="cf_text intDesigner-about__text has_fade_anim">
                        <p style="color: #F3EEEA;">
                          Kerala Home Interiors and Manufacturers is where timeless tradition meets contemporary living. Founded and led by
                          expert engineer Ramesh P S, our firm specializes in crafting homes that beautifully blend the rich architectural
                          heritage of Kerala with the comfort and functionality of modern design.
                          With a deep respect for the intricate art of traditional Kerala architecture — from sloping tiled roofs to intricately
                          carved woodwork — we infuse these timeless elements into homes tailored for today’s lifestyle. Every project is a
                          celebration of culture, sustainability, and innovation.
                          Whether you're dreaming of a serene nalukettu-style courtyard home or a chic, modern villa with heritage-inspired
                          accents, we bring your vision to life with precision and passion.
                          At Kerala Home Interiors and Manufacturers, we don’t just build homes — we craft soulful spaces that tell your story.
                        
                        </p>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- about inner area end  -->

          <!-- award area start  -->
          <section class="intDesigner-award__area pb-100 int-inab-videotext" style="background-color: #18230F;">
            <div class="container">
              <div class="intDesigner-award__area-text-box">
                <div class="">
                  <div class="intDesigner-award__sec-title-wrapper">
                    <h2 class="sec-title-18 has_text_reveal_anim" style="color: #FFEAC5;">awards <br>
                      for the best <br>
                      works</h2>
                  </div>
                  <div class="intDesigner-award__list has_fade_anim">
                    <span style="color: #F3EEEA;">Nominee -2011</span>
                    <span style="color: #F3EEEA;">Winner -2018</span>
                  </div>
                </div>
                <div class="has_fade_anim">
                  <div class="cf_image award-badge has_fade_anim">
                    <img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747471787/Homely_Experience-01_qe0zae.png" style="max-width: 400px;" class="show-dark" alt="image">
                    </div>
                  <div class="cf_text intDesigner-award__text">
                    <p style="color: #F3EEEA;">Working for almost 10 years, when that presents
                      a skilled team is dedicated to creating unique and functional designs that enhance the lives of
                      live
                      and work in them.</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- award area start  -->
          
            <div class="cf_image overflow-hidden AboutParallax">
              <img src="https://res.cloudinary.com/ddvts796m/image/upload/v1749751204/WhatsApp_Image_2025-06-12_at_23.27.19_61179c69_llmt03.jpg" alt="Image" style="width: 100%;height: 100%;object-fit: cover;" data-speed="0.85">
            </div>
          
          <!-- CEO AREA START -->
          <section class="int-inab-area pt-100 pb-100" style="background-color: #18230F;">
            <div class="cf_image intDesigner-about__area-bg">
              <img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747464649/dot-bg_mru5iv.png" style="border-top-left-radius: 50px;border-bottom-right-radius: 50px;" alt="image">
            </div>
            <div class="container">
              <div class="intDesigner-about__area">
                <div class="container">
                
                  <div class="intDesigner-about__area-inner p-0 AboutBottom">
                    
                    <div class="intDesigner-about__text-wrapper">
                      <h3 class="intDesigner-about__title has_text_reveal_anim small-title-custom" style="color: #FFEAC5;">We Are Building  <br>
                        Tomorrow’s Civilization and nation</h3>
                      <div class="cf_text intDesigner-about__text has_fade_anim">
                        <p style="color: #F3EEEA;">Kerala Home Construction Company believes that strong homes build strong communities. By delivering quality construction, Kerala Home helps shape thriving neighborhoods where families grow and cities prosper—laying the foundation for a stronger nation.
                          </p>

                      </div>
                      <div class="mt-40 intDesigner-award__list has_fade_anim">
                        <span><a href="#" style="color: #F3EEEA;">Get To Know Our Champions</a></span>
                      </div>
                      
                    </div>
                    <div class="intDesigner-about__text-wrapper has_fade_anim aboutbottomImg">
                      <div class="cf_image intDesigner-about__thumb img_anim_reveal TraditionalHome">
                        <img src="https://res.cloudinary.com/ddvts796m/image/upload/v1749752076/Artboard_1_d0s6uu.png" alt="image">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

        <!-- CEO AREA END -->
          <!-- video area start  -->
          <!-- <div class="cf-insd__video-thumb mt-100" style="background-color: #ddf88c;">
            <div class="cf_image">
              <img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747472198/Our_Journey_Thumbnail_hz83mc.webp" alt="video image">
            </div>
            <div class="cf-insd__button-wrapper">
              <a href="{% static 'Banners/About%20Us/Our%20Journey%20Final.mp4' %}" class="video-popup">
                <div class="btn-wrapper cf_modal">
                  <div class="btn-item">
                    <div class="wc-play-icon play-icon-border"><i class=" fa fa-solid fa-play"></i></div>
                  </div>
                </div>
              </a>
            </div>
          </div> -->
          <!-- video area end  -->

          <!-- cta area start  -->
          <section class="cf-cta__area pb-140 pt-80">
            <div class="container">
              <div class="cf-cta__text-wrapper">
                <div class="cf-cta__sec-title-wrapper">
                  <h2 class="sec-title-18 text_invert">Let’s <br>
                    Build <br>
                    together</h2>
                  <div class="cf_text cf-cta__text ">
                    <p>HAPPY LUXURY EXPERTS<br>
                      We would be delighted to help you to  build your dream home</p>
                  </div>
                </div>
                <div class="cf_btn cf-cta__btn">
                  <a href="{% url 'contact' %}" class="wc-btn-default btn-hover-divide">Contact US</a>
                </div>
              </div>
            </div>
          </section>
          <!-- cta area end  -->

        </main>

        <!-- Footer section start -->
        <footer>
          <div class="intDesigner-footer__area pt-100 pb-100">
            <div class="container">
              <div class="intDesigner-footer__widgets-wrapper">
                <div class="footer__widget">
                  <div class="intDesigner-footer__logo">
                    <a href="#">
                      <img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747580767/Artboard_2_copy_2_vcgy5w.png" width="180px" class="show-dark" alt="Site Logo">
                      <img src="assets/logo%20B.png" width="180px" class="show-light" alt="Site Logo">
                    </a>
                  </div>
                </div>
                <div class="footer__widget">
                  <div class="intDesigner-footer__menu">
                    <ul>
                      <li><a href="{% url 'home' %}">Home</a></li>
                      <li><a href="{% url 'about' %}">About</a></li>
                      <li><a href="{% url 'projects' %}">Projects</a></li>
                      <li><a href="{% url 'services' %}">Services</a></li>
                      <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                  </div>
                </div>
                <div class="footer__widget">
                  <div class="intDesigner-footer__menu">
                    <ul>
                      <li><a href="https://maps.app.goo.gl/5hToMizWnLdXXk2M8" style="text-decoration: underline;">H637+J34 temple, plavinkootam road,</a></li>
                      <li><a href="https://maps.app.goo.gl/5hToMizWnLdXXk2M8" style="text-decoration: underline;">opposite Manalarkavu Road, Viyyur,</a></li>
                      <li><a href="https://maps.app.goo.gl/5hToMizWnLdXXk2M8" style="text-decoration: underline;">Thrissur, Kerala 680010</a></li>
                    </ul>
                  </div>
                </div>
                <div class="footer__widget">
                  <div class="intDesigner-footer__menu">
                    <ul>
                      <li><a href="mailto:iamkeralahome@gmail.com">iamkeralahome@gmail.com</a></li>
                      <li><a href="tel:9846194508">Help Desk : +91 9846194508</a></li>
                      <li><a href="tel: 04872332599">Land Line: 0487 233 2599</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="intDesigner-copyright__area">
            <div class="container">
              <div class="intDesigner-copyright__inner">
                <div class="intDesigner-copyright__text">
                  <p>All rights reserved by Kerala Home</p>
                </div>
                <div class="intDesigner-copyright__social">
                  <a href="fb.com/iamkeralahome">Facebook</a><a href="https://www.instagram.com/kerala_home_viyyur">Instagram</a><a href="#">Youtube</a><a href="https://wa.me/9846194508">Whatsapp</a>
                </div>
                <div class="intDesigner__go-top">
                  <p>Powered by <a href="#">Unsaid Creative</a></p>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <!-- Footer section end -->

      </div>
    </div>
  </div>


  <!-- All JS files -->
  <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PHZHZJM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <!-- <script src="./assets/js/swiper-bundle.min.js"></script> -->
  <script src="{% static 'js/counter.js' %}"></script>
  <!-- <script src="./assets/js/typed.js"></script> -->
  <!-- <script src="./assets/js/mixitup.min.js"></script> -->
  <!-- <script src="./assets/js/progressbar.js"></script> -->
  <script src="{% static 'js/gsap.min.js' %}"></script>
  <script src="{% static 'js/ScrollSmoother.min.js' %}"></script>
  <script src="{% static 'js/ScrollToPlugin.min.js' %}"></script>
  <script src="{% static 'js/ScrollTrigger.min.js' %}"></script>
  <script src="{% static 'js/SplitText.min.js' %}"></script>
  <script src="{% static 'js/TweenMax.min.js' %}"></script>
  <script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
  <!-- <script src="./assets/js/beforeafter.jquery-1.0.0.min.js"></script> -->
  <!-- <script src="./assets/js/basictable.min.js"></script> -->
  <script src="{% static 'js/backToTop.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/error-handling.js' %}"></script>
  <script src="{% static 'js/offcanvas.js' %}"></script>
  <script src="{% static 'js/wc-cursor.js' %}"></script>

</body>
</html>