{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="Traditional and Modern House Designs | Kerala Home Construction Projects in Kerala & India">
  <meta name="description" content="Explore Kerala Home's diverse construction projects across Kerala and India. From traditional Kerala-style homes to innovative modern house designs, our projects reflect craftsmanship and quality.">
  <meta name="keywords" content="traditional home builders Kerala, house construction projects, Kerala-style house design, modern house design India, home construction designs, architecture house plans, construction builders Thrissur, Kerala Home projects, house design portfolio">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>Top House Construction Company in Thrissur | Quality Homes by Kerala Home</title>

  <!-- Fav Icon -->
  <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/dtouoqusd/image/upload/v1747464443/logo_bbeh04.png">
   <!-- Google Tag Manager -->
 <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
   '../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
   })(window,document,'script','dataLayer','GTM-PHZHZJM');</script>
   <!-- End Google Tag Manager -->
   
 

  <!-- All CSS files -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/progressbar.css' %}">
  <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'css/basictable.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/master-interior-designer.css' %}">

  <link href="../maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>



<body class="font-heading-glorifydemo">

  <!-- Body Ovelay -->
  <div class="body-overlay"></div>

  <!-- Preloader -->
  <!-- <div id="preloader">
    <div id="container" class="container-preloader">
      <div class="animation-preloader">
        <div class="spinner"></div>
        <div class="txt-loading">
          <span data-text="I" class="characters">I</span>
          <span data-text="N" class="characters">N</span>
          <span data-text="F" class="characters">F</span>
          <span data-text="O" class="characters">O</span>
        </div>
      </div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
  </div> -->

  <!-- Cursor Animation -->
  <div class="cursor1"></div>


  <!-- Sroll to top -->
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98">
        
      </path>
    </svg>
  </div>

<a href="tel:9846194508" style="z-index: 1;" target="_blank" class="call-float " >
        <i class="fa-solid fa-phone"></i>
      </a>
      <a href="https://wa.me/9846194508" style="z-index: 1;" target="_blank" class="whatsapp-float ">
        <i class="fab fa-whatsapp"></i>
      </a>


 

  <!-- Offcanves start -->
  <div class="offcanvas__area">
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasOne" style="background-color: #0A0913 !important;">
      <button class="offcanvas__close" data-bs-dismiss="offcanvas"><i class="fa-solid fa-xmark"></i></button>
      <div class="offcanvas__body">
        <div class="offcanvas__logo">
          <a href="#">
            <img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747557981/Artboard_2_namyqm.png" class="show-dark" alt="Offcanvas Logo">
            <img src="assets/logo%20B.png" class="show-light" alt="Offcanvas Logo">
          </a>
          <p>HAPPY LUXURY EXPERTS
            We would be delighted to help you to build your dream home</p>
        </div>

        <div class="offcanvas__menu-area">
          <div class="offcanvas__menu-wrapper"></div>
        </div>
        <div class="offcanvas__gallery">
          <p class="offcanvas__title">gallery</p>
          <div class="gallery__items">
            <div class="gallery__item">
              <a href="#"><img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747564972/pngegg_1_rukqyr.png" alt="gallery Image">
            </div>
            <div class="gallery__item">
              <a href="#"><img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747564972/pngegg_1_rukqyr.png" alt="gallery Image">
            </div>
            <div class="gallery__item">
              <a href="#"><img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747564972/pngegg_1_rukqyr.png" alt="gallery Image">
            </div>
            
            <div class="gallery__item">
              <a href="#"><img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747564972/pngegg_1_rukqyr.png" alt="gallery Image">
            </div>
            
            <div class="gallery__item">
              <a href="#"><img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747564972/pngegg_1_rukqyr.png" alt="gallery Image">
            </div>
          </div>
        </div>
        <div class="offcanvas__media">
          <p class="offcanvas__title">Follow</p>
          <ul>
            <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Offcanves end -->


  <div class="has-smooth" id="has_smooth"></div>
  <div id="smooth-wrapper">
    <div id="smooth-content">
      <div class="body-wrapper" style="background-color: #0A0913 !important;">

        <!-- overlay switcher close  -->
        <div class="overlay-switcher-close"></div>

                 <!-- Header area start -->
        <header class="intDesigner-header pos-abs zi-9" style="background-color: #4a000a;">
          <div class="intDesigner-header__inner">
            <div class="intDesigner-header__logo">
              <a href="{% url 'home' %}">
                <img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747580767/Artboard_2_copy_2_vcgy5w.png"  width="180px" alt="Site Logo">
              </a>
            </div>
            <div class="intDesigner-header__nav">
              <nav class="main-menu menu-light">
                <ul style="color: #27391C;">
                  <li><a href="{% url 'home' %}" style="color: #FFEAC5;">home</a></li>
                  <li><a href="{% url 'about' %}" style="color: #FFEAC5;">about</a></li>
                  
                  <li >
                    <a href="{% url 'projects' %}" style="color: #FFEAC5;">project</a>
                  </li>
                  <li><a href="{% url 'services' %}" style="color: #FFEAC5;">Services</a></li>
                  <!-- <li><a href="{% url 'packages' %}" style="color: #FFEAC5;">Packages</a></li>
                  <li><a href="{% url 'blog' %}" style="color: #FFEAC5;">Blog</a></li> -->
                  <li><a href="{% url 'contact' %}" style="color: #FFEAC5;">Contact</a></li>
                </ul>
              </nav>
            </div>
            <div class="intDesigner-header__others">
              <div class="intDesigner-header__navicon">
                <button id="open_offcanvas" data-bs-toggle="offcanvas" data-bs-target="#offcanvasOne">
                  <img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747548577/bar-light_f98zfw.png" alt="menu bar"></button>
              </div>
            </div>
          </div>
        </header>
        <!-- Header area end -->

        <main>


          <!-- project area start  -->
          <section class="intDesigner-project__inner pt-150 pb-150" style="background-color: #4a000a;">
            <div class="container">
              <div class="intDesigner-project__inner-title-box mb-120">
                <div class="intDesigner-project__sec-title-wrapper">
                  <h1 class="sec-sub-title-18 mb-50 has_char_anim" style="color: #F3EEEA;">Showcase of</h1>
                  <h2 class="sec-title-18 has_char_anim" data-delay="0.9" style="color: #FFEAC5;">Portfolio</h2>
                </div>
                <div class="intDesigner-award__list has_fade_anim">
                  <span><a href="{% url 'contact' %}">GET YOUR FREE QUOTE</a></span>
                </div>
              </div>
              <div class="intDesigner-portfolio__items">
                <div class="intDesigner-portfolio__item anim_img_zoom has_fade_anim">
                  <div class="intDesigner-portfolio__info">
                    <div class="intDesigner-portfolio__thumb">
                      <a href="#">
                        <div class="cf_image">
                         
                          <img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747465357/Biju_Joseph_jxawcz.jpg" style="z-index: 10;" alt="Portfolio Image">
                          
                          
                        </div>
                      </a>
                    </div>

                    <div class="interior-portfolio__content has_fade_anim">
                      <a href="project/Gautham-house.html">
                        <h3 class="intDesigner-portfolio__title" style="color: #FFEAC5;">Mr. GAUTHAM</h3>
                      </a>
                      <p style="color: #F3EEEA;">ANEKKAL</p>
                    </div>
                  </div>
                </div>
                <div class="intDesigner-portfolio__item anim_img_zoom has_fade_anim">
                  <div class="intDesigner-portfolio__info">
                    <div class="intDesigner-portfolio__thumb">
                      <a href="project/Srinivasas.html">
                        <div class="cf_image">
                          <img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747465357/Biju_Joseph_jxawcz.jpg" alt="Portfolio Image" style="z-index: 10;">
                        </div>
                      </a>
                    </div>
                    
                    <div class="interior-portfolio__content has_fade_anim">
                      <a href="project/Srinivasas.html">
                        <h3 class="intDesigner-portfolio__title text-uppercase" style="color: #FFEAC5;">Mr. Sreenivas</h3>
                      </a>
                      <p style="color: #F3EEEA;">Chitradurga, Bangalore</p>
                    </div>
                  </div>
                </div>
                <div class="intDesigner-portfolio__item anim_img_zoom has_fade_anim">
                  <div class="intDesigner-portfolio__info">
                    <div class="intDesigner-portfolio__thumb">
                      <a href="project/Zaheesh.html">
                        <div class="cf_image">
                          <img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747465357/Biju_Joseph_jxawcz.jpg" style="z-index: 10;" alt="Portfolio Image">
                        </div>
                      </a>
                    </div>

                    <div class="interior-portfolio__content has_fade_anim">
                      <a href="project/Zaheesh.html">
                        <h3 class="intDesigner-portfolio__title text-uppercase" style="color: #FFEAC5;">Mr Zaheesh</h3>
                      </a>
                      <p style="color: #F3EEEA;">Yelahanka</p>
                    </div>
                  </div>
                </div>
                <div class="intDesigner-portfolio__item anim_img_zoom has_fade_anim">
                  <div class="intDesigner-portfolio__info">
                    <div class="intDesigner-portfolio__thumb">
                      <a href="project/Sparsh-house.html">
                        <div class="cf_image">
                          <img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747465357/Biju_Joseph_jxawcz.jpg" style="z-index: 10;" alt="Portfolio Image">
                        </div>
                      </a>
                    </div>

                    <div class="interior-portfolio__content has_fade_anim">
                      <a href="project/Sparsh-house.html">
                        <h3 class="intDesigner-portfolio__title" style="color: #FFEAC5;">Mr. SPARSH</h3>
                      </a>
                      <p style="color: #F3EEEA;">Kerala</p>
                    </div>
                  </div>
                </div>
                <div class="intDesigner-portfolio__item anim_img_zoom has_fade_anim">
                  <div class="intDesigner-portfolio__info">
                    <div class="intDesigner-portfolio__thumb">
                      <a href="project/Muniraj.html">
                        <div class="cf_image">
                          <img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747465357/Biju_Joseph_jxawcz.jpg" style="z-index: 10;" alt="Portfolio Image">
                        </div>
                      </a>
                    </div>

                    <div class="interior-portfolio__content has_fade_anim">
                      <a href="project/Muniraj.html">
                        <h3 class="intDesigner-portfolio__title" style="color: #FFEAC5;">Mr. Muniraj</h3>
                      </a>
                      <p style="color: #F3EEEA;">Electronic City</p>
                    </div>
                  </div>
                </div>
                
                <div class="intDesigner-portfolio__item anim_img_zoom has_fade_anim">
                  <div class="intDesigner-portfolio__info">
                    <div class="intDesigner-portfolio__thumb">
                      <a href="project/Murali-house.html">
                        <div class="cf_image">
                          <img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747465357/Biju_Joseph_jxawcz.jpg" style="z-index: 10;" alt="Portfolio Image">
                        </div>
                      </a>
                    </div>
                    <div class="interior-portfolio__content has_fade_anim">
                      <a href="project/Murali-house.html">
                        <h3 class="intDesigner-portfolio__title" style="color: #FFEAC5;">Mr.MURALI</h3>
                      </a>
                      <p style="color: #F3EEEA;">Harlur</p>
                    </div>

                  </div>
                </div>
              </div>
              
            </div>
          </section>
          <!-- project area end  -->


          <!-- Upcoming projects -->

                    <!-- project area start  -->
                    <section class="intDesigner-project__area" style="background-color: #4a000a;">
                      
                      <div class="container">
                        <div class="intDesigner-project__area-title-box mb-110">
                          <div class="intDesigner-project__sec-title-wrapper">
                            <h3 class="sec-sub-title-18 mb-50 has_char_anim" style="color: #F3EEEA;">Our upcoming</h3>
                            <h2 class="sec-title-18 has_text_reveal_anim" style="color: #FFEAC5;">Projects</h2>
                          </div>
                          
                        </div>
                        
                        <div class="intDesigner-portfolio__items">
                          <div class="intDesigner-portfolio__item anim_img_zoom has_fade_anim">
                            <div class="intDesigner-portfolio__info">
                              <div class="intDesigner-portfolio__thumb">
                                <a href="#">
                                  <div class="cf_image">
                                    <img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1748598105/wayanad_villa_project_xjqiof.jpg" alt="Portfolio Image">
                                  </div>
                                </a>
                              </div>
          
                              <div class="interior-portfolio__content has_fade_anim">
                                <a href="#">
                                  <h3 class="intDesigner-portfolio__title text-uppercase" style="color: #FFEAC5;">Mr. Ramesh M
                                  </h3>
                                  <p style="color: #F3EEEA;">Koramangala, Bangalore</p>
                                </a>
                                
                              </div>
                            </div>
                          </div>
                          <div class="intDesigner-portfolio__item anim_img_zoom has_fade_anim">
                            <div class="intDesigner-portfolio__info">
                              <div class="intDesigner-portfolio__thumb">
                                <a href="#">
                                  <div class="cf_image">
                                    <img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747465357/Biju_Joseph_jxawcz.jpg" alt="Portfolio Image">
                                  </div>
                                </a>
                              </div>
          
                              <div class="interior-portfolio__content has_fade_anim">
                                <a href="#">
                                  <h3 class="intDesigner-portfolio__title text-uppercase" style="color: #FFEAC5;">Mr. SHIVA</h3>
                                  <p style="color: #F3EEEA;">Arekere, Bangalore</p>
                                </a>
                                
                              </div>
                            </div>
                          </div>
                          
                          <div class="intDesigner-portfolio__item anim_img_zoom has_fade_anim">
                            <div class="intDesigner-portfolio__info">
                              <div class="intDesigner-portfolio__thumb">
                                <a href="#">
                                  <div class="cf_image">
                                    <img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747465357/Biju_Joseph_jxawcz.jpg" alt="Portfolio Image">
                                  </div>
                                </a>
                              </div>
          
                              <div class="interior-portfolio__content has_fade_anim">
                                <a href="#">
                                  <h3 class="intDesigner-portfolio__title" style="color: #FFEAC5;">Mr. Veeresh S P</h3>
                                  <p style="color: #F3EEEA;">Electronic City, Bangalore</p>
                                </a>
                                
                              </div>
                            </div>
                          </div>
                          
                          <div class="intDesigner-portfolio__item anim_img_zoom has_fade_anim">
                            <div class="intDesigner-portfolio__info">
                              <div class="intDesigner-portfolio__thumb">
                                <a href="#">
                                  <div class="cf_image">
                                    <img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747465357/Biju_Joseph_jxawcz.jpg" alt="Portfolio Image">
                                  </div>
                                </a>
                              </div>
          
                              <div class="interior-portfolio__content has_fade_anim">
                                <a href="#">
                                  <h3 class="intDesigner-portfolio__title" style="color: #FFEAC5;">Mr. Francis
                                  </h3>
                                  <p style="color: #F3EEEA;">Yelahanka, Bangalore</p>
                                </a>
                               
                              </div>
                            </div>
                          </div>
                          <div class="intDesigner-portfolio__item anim_img_zoom has_fade_anim">
                            <div class="intDesigner-portfolio__info">
                              <div class="intDesigner-portfolio__thumb">
                                <a href="#">
                                  <div class="cf_image">
                                    <img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747465357/Biju_Joseph_jxawcz.jpg" alt="Portfolio Image">
                                  </div>
                                </a>
                              </div>
          
                              <div class="interior-portfolio__content has_fade_anim">
                                <a href="#">
                                  <h3 class="intDesigner-portfolio__title" style="color: #FFEAC5;">Mr. Frederick</h3>
                                  <p style="color: #F3EEEA;">Koramangala, Bangalore</p>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="intDesigner-portfolio__item anim_img_zoom has_fade_anim">
                            <div class="intDesigner-portfolio__info">
                              <div class="intDesigner-portfolio__thumb">
                                <a href="#">
                                  <div class="cf_image">
                                    <img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747465357/Biju_Joseph_jxawcz.jpg" alt="Portfolio Image">
                                  </div>
                                </a>
                              </div>
          
                              <div class="interior-portfolio__content has_fade_anim">
                                <a href="#">
                                  <h3 class="intDesigner-portfolio__title" style="color: #FFEAC5;">Mr. Reghuram</h3>
                                  <p style="color: #F3EEEA;">Kerala</p>
                                </a>
                              </div>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                    </section>
                    <!-- project area end  -->

                     <!-- cta area start  -->
                  <section class="cf-cta__area pt-140 pb-140">
                    <div class="container">
                      <div class="cf-cta__text-wrapper">
                        <div class="cf-cta__sec-title-wrapper">
                          <h2 class="sec-title-18 text_invert">Let’s <br>
                            build <br>
                            together</h2>
                          <div class="cf_text cf-cta__text">
                            <p>
  <span >HAPPY LUXURY EXPERTS <br>
  We would be delighted to help you to build your dream home</span>
</p>
                          </div>
                        </div>
                        <div class="cf_btn cf-cta__btn">
                          <a href="{% url 'contact' %}" class="wc-btn-default btn-hover-divide">Contact US</a>
                        </div>
                      </div>
                    </div>
                  </section>
          <!-- cta area end  -->
        </main>

        <!-- Footer section start -->
        <footer>
          <div class="intDesigner-footer__area pt-100 pb-100">
            <div class="container">
              <div class="intDesigner-footer__widgets-wrapper">
                <div class="footer__widget">
                  <div class="intDesigner-footer__logo">
                    <a href="#">
                      <img src="https://res.cloudinary.com/dtouoqusd/image/upload/v1747580767/Artboard_2_copy_2_vcgy5w.png" width="180px" class="show-dark" alt="Site Logo">
                      <img src="assets/logo%20B.png" width="180px" class="show-light" alt="Site Logo">
                    </a>
                  </div>
                </div>
                <div class="footer__widget">
                  <div class="intDesigner-footer__menu">
                    <ul>
                      <li><a href="{% url 'home' %}">Home</a></li>
                      <li><a href="{% url 'about' %}">About</a></li>
                      <li><a href="{% url 'projects' %}">Projects</a></li>
                      <li><a href="{% url 'services' %}">Services</a></li>
                      <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                  </div>
                </div>
                <div class="footer__widget">
                  <div class="intDesigner-footer__menu">
                    <ul>
                      <li><a href="https://maps.app.goo.gl/5hToMizWnLdXXk2M8" style="text-decoration: underline;">H637+J34 temple, plavinkootam road,</a></li>
                      <li><a href="https://maps.app.goo.gl/5hToMizWnLdXXk2M8" style="text-decoration: underline;">opposite Manalarkavu Road, Viyyur,</a></li>
                      <li><a href="https://maps.app.goo.gl/5hToMizWnLdXXk2M8" style="text-decoration: underline;">Thrissur, Kerala 680010</a></li>
                    </ul>
                  </div>
                </div>
                <div class="footer__widget">
                  <div class="intDesigner-footer__menu">
                    <ul>
                      <li><a href="mailto:iamkeralahome@gmail.com">iamkeralahome@gmail.com</a></li>
                      <li><a href="tel:9846194508">Help Desk : +91 9846194508</a></li>
                      <li><a href="tel: 04872332599">Land Line: 0487 233 2599</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="intDesigner-copyright__area">
            <div class="container">
              <div class="intDesigner-copyright__inner">
                <div class="intDesigner-copyright__text">
                  <p>All rights reserved by Kerala Home</p>
                </div>
                <div class="intDesigner-copyright__social">
                  <a href="fb.com/iamkeralahome">Facebook</a><a href="#">Instagram</a><a href="#">Youtube</a><a href="https://wa.me/9846194508">Whatsapp</a>
                </div>
                <div class="intDesigner__go-top">
                  <p>Powered by <a href="#">Unsaid Creative</a></p>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <!-- Footer section end -->

      </div>
    </div>
  </div>


  <!-- All JS files -->
  <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PHZHZJM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <!-- <script src="../assets/js/swiper-bundle.min.js"></script> -->
  <script src="{% static 'js/counter.js' %}"></script>
  <!-- <script src="../assets/js/typed.js"></script> -->
  <!-- <script src="../assets/js/mixitup.min.js"></script> -->
  <!-- <script src="../assets/js/progressbar.js"></script> -->
  <script src="{% static 'js/gsap.min.js' %}"></script>
  <script src="{% static 'js/ScrollSmoother.min.js' %}"></script>
  <script src="{% static 'js/ScrollToPlugin.min.js' %}"></script>
  <script src="{% static 'js/ScrollTrigger.min.js' %}"></script>
  <script src="{% static 'js/SplitText.min.js' %}"></script>
  <script src="{% static 'js/TweenMax.min.js' %} "></script>
  <script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
  <!-- <script src="../assets/js/beforeafter.jquery-1.0.0.min.js"></script> -->
  <!-- <script src="../assets/js/basictable.min.js"></script> -->
  <script src="{% static 'js/backToTop.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/error-handling.js' %}"></script>
  <script src="{% static 'js/offcanvas.js' %}"></script>
  <script src="{% static 'js/wc-cursor.js' %}"></script>

</body>
</html>